# ignore all
*

# except:
# basic
!README.md
!.gitignore

# alacritty
!alacritty

# fish
!fish
!fish/config.fish
!fish/functions
!fish/functions/n.fish
!fish/functions/v.fish
!fish/functions/cr.fish
!fish/functions/lg.fish
!fish/functions/t.fish
!fish/functions/nvm.fish

# i3
!i3
!i3blocks

# lazygit
!lazygit

# neovim
!nvim

# deprecated
!polybar
!ranger
!rofi
!rofi/*

# images
!images
!/images/**

# tmux
!.tmux
!/tmux/**
