# ignore all
*

# except:
!README.md
!.gitignore
!alacritty
!fish
!fish/config.fish
!fish/functions
!fish/functions/n.fish
!fish/functions/v.fish
!fish/functions/cr.fish
!fish/functions/lg.fish
!i3
!i3blocks
!lazygit
!nvim
!polybar
!ranger
!rofi
!images
!/images/**
!.tmux
!/tmux/**
