# ignore all
/*

# except:
# basic
!README.md
!.gitignore
!picom.conf

# alacritty
!/alacritty

# fish
!/fish

# lazygit
!/lazygit

# neovim
!/nvim

# images
!/images

# tmux
!/tmux
!tmux/*

!fontconfig/
fontconfig/*
!fontconfig/fonts.conf

!ncspot/
ncspot/*
!ncspot/config.toml

!.gittemplate

!nnn/
nnn/*
!nnn/plugins
nnn/plugins/*
!nnn/plugins/mine
