# Basic information
[user]
    name = Avimitin
    email = dev@avimit.in
    signingkey = 0xFF7883E3BF6835DD

[init]
    defaultBranch = master

[column]
    # Show column instead of paging a list
    ui = auto

[branch]
    # Sort by last commit date
    sort = -committerdate

[rerere]
    # Remember how I fixed a conflict and re-apply it when possible
    enable = true

[fetch]
    # Automatically write commit graph on fetch, which can speed up git log/branch...
    writeCommitGraph = true

[push]
    # automatically setup remote branch on push
    autoSetupRemote = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

# Diff UI stuffs
[core]
    pager = delta
[interactive]
    diffFilter = delta --color-only --features=interactive
[delta]
    syntax-theme = kanagawa
    features = decorations unobtrusive-line-numbers
    line-numbers = true
    navigate = true

[delta "interactive"]
    keep-plus-minus-markers = false
[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax
