body {
  font-family: monospace;
  font-size: 14px;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 50px;
  box-sizing: border-box;
}

figcaption {
  display: none;
}

.avatar {
  display: block;
  max-height: 160px;
  margin: 0 auto;
}

img {
  display: block;
  max-height: 400px;
  max-width: 600px;
  margin: 0 auto;
}

h3 {
  margin: 0 auto;
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  body {
    max-width: 512px;
  }

  img {
    max-height: 150px;
    max-width: 150px;
  }
}
