body {
  font-family: monospace;
  font-size: 18px;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 50px;
  box-sizing: border-box;
}

figcaption {
  display: none;
}

img {
  max-height: 300px;
  max-width: 300px;
}
