@define-color shadow rgba(0, 0, 0, 0.4);
@define-color grey #dcdcdc;
@define-color background rgba(29, 83, 103, 0.5);
@define-color obaque-bg rgb(60, 80, 125);
@define-color mpris_bg rgba(255, 255, 255, 0.4);

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Symbols Nerd Font Mono, Jetbrains Nerd Font;
    font-size: 16px;
    font-feature-settings: "onum";
}

#window {
    color: #EAEAEA;
    text-shadow: 0 0 10px @shadow;
    font-weight: 400;
    margin: 0.3em 1.5em;
}

window#waybar {
    background-color: @background;
    color: #ffffff;
    border-right: 1px solid #297693;
}

#workspaces {
    text-shadow: 0px 0px 3px @shadow;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 1em 0.4em;
    border-radius: 16px;
    color: #a0a0a0;
    font-weight: 900;
}

#workspaces box.workspace-group {
    border-radius: 16px;
    opacity: 0.6;
    padding: 1em 0em;
}

#workspaces .workspace-group-label {
    margin-top: 0.5em;
}

#workspaces box.workspace-group.active-workspace {
    background-color: rgba(79, 157, 175, 0.7);
    color: #ffffff;
    opacity: 1;
}

#workspaces button {
    color: #a0a0a0;
    opacity: 0.6;
    padding: 0.5em 0em;
}

#workspaces button.focused {
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 1;
    color: #000;
}

#workspaces button.app-icon {
    text-shadow: 0px 0px 3px @shadow;
    -gtk-icon-shadow: 0px 0px 3px @shadow;
    padding: 0.5em;
    border-radius: 16px;
}

#workspaces button.app-icon.focused {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.8);
}

#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#upower,
#clock,
#custom-notification,
#mpd {
    text-shadow: 0px 0px 3px @shadow;
    -gtk-icon-shadow: 0px 0px 3px @shadow;
    padding: 0.5em;
}

#mpris {
    text-shadow: 0px 0px 3px @shadow;
    background-color: @mpris_bg;
    margin: 0.4em;
    padding: 0.5em;
    border-radius: 14px;
}

#tray > .needs-attention {
    background-color: rgba(85, 24, 26, 0.8);
    box-shadow: 0px 0px 3px @shadow;
    border-radius: 8px;
    margin: 0.5em;
}

tooltip {
    background: @obaque-bg;
    padding: 5em;
}
