@define-color shadow rgba(0, 0, 0, 0.4);
@define-color grey #dcdcdc;
@define-color background rgba(70, 84, 110, 0.6);
@define-color obaque-bg rgb(60, 80, 125);
@define-color mpris_bg rgba(255, 255, 255, 0.4);

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Symbols Nerd Font Mono, SF Pro Display, Noto Sans, Helvetica, Arial, FontAwesome, sans-serif;
    font-size: 14px;
}

#window {
    color: #EAEAEA;
    text-shadow: 0 0 10px @shadow;
    font-weight: 400;
    margin: 0.3em 1.5em;
}

window#waybar {
    background-color: @background;
    color: #ffffff;
    border-right: 1px solid #6c7086;
}

#workspaces {
    margin: 1.5em 1em;
}

#workspaces button {
    font-weight: 900;
    padding: 0.4em 0em;
    font-size: 12px;
    font-weight: 800;
    color: @grey;
    text-shadow: 0 0 10px @shadow;
}

#workspaces button.focused,
#workspaces button:hover,
#workspaces button.active
{
    color: #FFFFFF;
    text-shadow: 0 0 5px #FFFFFF;
    box-shadow: none;
    background: none;
    border: none;
}

#workspaces button.urgent {
    color: #8d2a10;
    text-shadow: 0 0 10px #5f1c1c;
    background: none;
    border: none;
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0);
}

#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#upower,
#clock,
#mpd {
    text-shadow: 0px 0px 3px @shadow;
    -gtk-icon-shadow: 0px 0px 3px @shadow;
    padding: 0.5em;
    font-size: 14px;
    font-weight: 600;
}

#mpris {
    text-shadow: 0px 0px 3px @shadow;
    background-color: @mpris_bg;
    margin: 0.4em 0.8em;
    padding: 0.2em 1em;
    border-radius: 14px;
}

#tray > .needs-attention {
    background-color: rgba(85, 24, 26, 0.8);
    box-shadow: 0px 0px 3px @shadow;
    border-radius: 8px;
    margin: 0.5em;
}

tooltip {
    background: @obaque-bg;
    padding: 5em;
}
