move_down              j
move_up                k
move_left              l
move_right             h
toggle_dark_mode       <C-r>
next_page              <Space>
previous_page          <S-Space>
screen_up              <C-u>
screen_down            <C-d>
enter_visual_mark_mode <C-v>
move_visual_mark_up    k
move_visual_mark_down  j
