[Unit]
Description=A simple notification daemon with a GTK gui for notifications and the control center
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=dbus
BusName=org.freedesktop.Notifications
ExecCondition=/bin/sh -c '[ -n "$WAYLAND_DISPLAY" ]'
ExecStart=/usr/bin/swaync
ExecReload=/usr/bin/swaync-client -R -rs

[Install]
WantedBy=graphical-session.target
