/*
!/.gitignore
!/config.fish
!/startup.fish
!/conf.d
conf.d/*
!conf.d/env.fish
!conf.d/themes.fish
!conf.d/alias.fish

!/functions
/functions/*

!/functions/set_proxy.fish
!/functions/st-refresh.fish
!/functions/fm.fish
!/functions/setup.fish
